:where(.css-dev-only-do-not-override-apn68).ant-picker {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px 4px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  transition: border 0.2s, box-shadow 0.2s, background 0.2s;
}

:where(.css-dev-only-do-not-override-apn68).ant-picker-outlined {
  background: #1d1d1d;
  border-width: 1px;
  border-style: solid;
  border-color: #424242;
}

:where(.css-dev-only-do-not-override-apn68).ant-picker-outlined:hover {
  background-color: #1d1d1d !important; /* Keep the outlined background as is */
  box-shadow: none !important; /* Remove any box-shadow effect */
}

:where(.css-dev-only-do-not-override-apn68).ant-picker .ant-picker-suffix {
  display: flex;
  flex: none;
  align-self: center;
  margin-inline-start: 4px;
  color: #ffffff;
  line-height: 1;
  pointer-events: none;
  transition: opacity 0.2s, color 0.2s;
}

:where(.css-dev-only-do-not-override-apn68).ant-picker-input:focus,
:where(.css-dev-only-do-not-override-apn68).ant-picker-input:active {
  background-color: #1d1d1d !important; /* Dark background */
  color: white !important; /* White text */
  cursor: not-allowed !important; /* Make it appear disabled */
}

.ant-picker-input input::placeholder {
  color: white !important; /* Force white color for placeholders */
  opacity: 1;
}

:where(.css-dev-only-do-not-override-apn68).ant-upload-wrapper
  .ant-upload-drag
  p.ant-upload-text {
  margin: 0 0 4px;
  color: #ffffff;
  font-size: 16px;
}

:where(.css-dev-only-do-not-override-apn68).ant-upload-wrapper
  .ant-upload-drag
  p.ant-upload-hint {
  color: #ffffff;
  font-size: 14px;
}
